.App {
  text-align: center;
}

.calculator {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

table {
  width: 450px;
}

.answerBox {
  border-top: 2px solid #fff;
  background: #6e6a69;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 450px;
  height: 55px;
}

.answerBox p {
  border: none;
  padding-right: 12px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

table tr {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

table tr td {
  border: 1px solid #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 112.5px;
  cursor: pointer;
}

table tr td:hover {
  font-size: 24px;
  font-weight: bolder;
}

#zero {
  width: 225px;
}

table tr td:last-child {
  border-bottom: 1px solid #fff;
  background: #f5913e;
}
